<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenCvSharp4" version="4.1.0.20190416" targetFramework="net461" />
  <package id="OpenCvSharp4.runtime.win" version="4.1.0.20190416" targetFramework="net461" />
  <package id="OpenCvSharp4.Windows" version="4.1.0.20190416" targetFramework="net461" />
</packages>